<div class="mainPage">
  <div class="mainPage__ring">
    <div class="mainPage__container">
      <button *ngFor="let button of buttons; index as i" class="mainPage__button" [style]="getButtonStyle(i)" (mouseenter)="setHoveredIndex(i)" (click)="showMessage(button.message)">
        <span class="mainPage__content" [style]="getButtonStyle(i, true)">
          <img src="/assets/icons8-{{ button.icon }}.png" alt="Иконка" />
          {{ button.title }}
        </span>
      </button>
      <div class="mainPage__line" [style]="getLineStyle()"></div>
    </div>
    <img src="/favicon.ico" class="mainPage__logo" alt="Логотип" />
  </div>
</div>
